html,
body {
  display: flex;
  flex-direction: column;
}

button {
  width: 80px;
  height: 30px;
  border-radius: 4px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

svg {
  margin: 40px;
}

.chart-container .chart-title {
  font-size: 18px;
  fill: #d3d3d3;
  font-weight: bold;
  text-anchor: middle;
  dominant-baseline: center;
}

.chart-container .current-date {
  font-size: 45px;
  fill: #d3d3d3;
  text-anchor: end;
}

.y-axis text,
.y-axis .domain,
.x-axis .domain {
  display: none;
}

.x-axis .tick line {
  color: #d3d3d3;
}

.x-axis .tick text {
  color: #d3d3d3;
}

.columns .column-container .column-rect {
  fill: tomato;
}

.columns .column-container .column-title {
  text-anchor: end;
  fill: white;
  dominant-baseline: middle;
  font-size: 14px;
}

.columns .column-container .column-value {
  dominant-baseline: middle;
  font-size: 14px;
}
